<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
<%= @user.followed_users.count %>
following
</a>
  <a href="<%= followers_user_path(@user) %>">
<%= @user.followers.count %>
followers
</a>
  <a href="<%= posts_path %>">
<%= @user.favorites.count %>
</strong>
お気に入り
</a>
 


