<div class="stats">
  <a href="<%= following_user_path(user.id) %>">
    <%= user.followed_users.count %>
    following
  </a>
  <a href="<%= followers_user_path(user.id) %>">
    <%= user.followers.count %>
    followers
  </a>
  <a href="<%= favorites_user_path(user.id) %>">
    <%= user.favorites.count %>
    お気に入り
  </a>
  <a href="<%= posts_user_path(user.id) %>">
    <%= user.posts.count %>
    投稿
  </a>
</div>


