<div class="container"> 
  <h1>本を検索</h1>
  <form class="navbar-form navbar-left" role="seaarch" action="/items/index"> 
    <div class="form-group has-warning">
      <input type="text" class="form-control" placeholder="作品名,著者名" name="keyword">
    </div>
    <button type="submit" class="btn btn-default">検索</button>
  </form>

  <div>
    <% if @items_with_book_id.present? %>
      <div class="container" style="padding:10px 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><span class="glyphicon glyphicon-book" aria-hidden="true"></span></th>
              <th>書名</th>
              <th>作者</th>
              <th>価格(円)</th>
              <th>出版社</th>
            </tr>
          </thead>
          <tbody>
            <% @items_with_book_id.each do |i| %>
              <tr>
                <td><%= image_tag i.get('SmallImage/URL')%></td>
                <td><%= link_to i.get('ItemAttributes/Title') , items_path(:item => {:book_id => i.get('ASIN'), :title => i.get('ItemAttributes/Title'), :author => i.get('ItemAttributes/Author'), :manufacturer => i.get('ItemAttributes/Manufacturer'), :imgURL => i.get('SmallImage/URL'), :bookURL => i.get('DetailPageURL'), :price => i.get('ItemAttributes/ListPrice/Amount')}), method: :post %></td>
                <td><%= i.get('ItemAttributes/Author') %></td>
                <td><%= i.get('ItemAttributes/ListPrice/Amount') %></td>
                <td><%= i.get('ItemAttributes/Manufacturer') %></td>
              </tr>
            <% end %> 
          </tbody>
        </table> 
      </div>
    <% end %> 
  </div>

