<h1>すべての投稿<h1>

    <ul><% @posts.each do |post| %>
        <li>
        <% @amazon = Amazon::Ecs.item_lookup(post.item.book_id, :response_group => 'Medium')%>
        <% @amazon.items.each do |i|%>
          <%= image_tag i.get('SmallImage/URL')%>
          <%= i.get('ItemAttributes/Title') %>
        <% end %>
        <%= User.find_by(id: post.user_id).name %>
        <%= post.recommend_rate %>
        <%= link_to post.review, post_path(post.id) %>
        <% if post.favorited_by? current_user %>
			<%= link_to "お気に入りの削除", post_favorite_path(post.id), method: :delete %>
		<% else%>
			<%= link_to "お気に入りの登録", post_favorite_path(post.id), method: :post %>
		<% end %>
			</li>
      <% end %>
    </ul>
