<div class="container">

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.title', :default => 'プロフィールを編集する') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      
       <div class="form-group has-error">
        <%= f.label "ユーザー名" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "パスワード" %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "変更がなければ空欄") %>)</i><br />
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "確認のためにもう一度入力してください" %><br />
        <%= f.password_field :password_confirmation, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label "現在のパスワード" %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => '現在のパスワードを入力してください') %>)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>
      <div class="form-group">  
        <%= f.label "プロフィール画像" %> 
         <%= f.file_field :image%>
       </div>
        <div class="form-group">
           <%= f.label "プロフィール" %><br />
           <%= f.text_area :profile, class: "form-control" %>
            </div>   
      <%= f.submit t('.update', :default => "更新"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<p> <%= link_to t('.cancel_my_account', :default => "アカウントを削除する"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "ほんとうに削除しますか") }, :method => :delete %></p>

<%= link_to "戻る", :back ,class: "btn btn-default"%>




